@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');


@fontFamilyBody: 'Source Sans Pro', sans-serif;
@fontFamilyHeadings: 'Source Sans Pro', sans-serif;

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

@colorBody: #333;
@bgColorBody: #f03;
@bgColorHtml: #333;
@accentBgColor: #fff;
@accentFontColor: #333;


// Adapt the grid to my style
// @fontFamilyBody:     "serif"; // "sans-serif";
// @fontFamilyHeadings: "serif";
// @fontFamilyBody:     "sans-serif";
// @fontFamilyCode:     "monospace";

// @fontFamilyHeadings:  @fontFamilyHelveticaNeue;
// @fontFamilyBody:      @fontFamilyGaramond;
// @fontFamilyCode:      @fontFamilyMonospace;

// @fontFamilyBody: serif;
// @fontFamilyHeader: serif;

@lineHeight: 1.4;
@mainFontSize: 1rem;
// @mainFontWeight: 400;
// @headerFontWeight: 700;
// @headingsFontWeight: 700;

// Magic number and base fontsize
@magicNumber:  24px;  // 22px
@fontSizeBody: 16px;

@import "module/minimalistic.less";
