@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');


@fontFamilyBody: 'Roboto', sans-serif;
@fontFamilyHeadings: 'Roboto', sans-serif;

h1,
h2,
h3,
h4 {
    // font-weight: 600;
}

// h1 {
//     font-size: 3.375em;
// }

@colorBody: #F7F7F7;
@bgColorBody: #D64545;
@bgColorHtml: #D64545;
@accentBgColor: #F7F7F7;
@accentFontColor: #F7F7F7;



html, body, footer {
    background: linear-gradient(#e66465, #9198e5);
}

.outer-wrap-header {
    background-color: unset;
}

.outer-wrap-footer {
    background-color: unset;
    background:
    radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #e66465 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
radial-gradient(at 100% 100%,      rgba(96, 16, 48, 0) 9px, #e66465 10px, rgba(96, 16, 48, 0) 11px),
#3D9970;
background-size: 20px 20px;
}



@colorH1BorderBottom: #666;
@colorH2BorderBottom: #CCC;
@colorH3BorderBottom: #EEE;
@colorH4BorderBottom: #EEE;
@colorH5BorderBottom: #EEE;
@colorH6BorderBottom: #EEE;
@borderSizeH1: 0px;
@borderSizeH2: 0px;
@borderSizeH3: 0px;
@borderSizeH4: 0px;
@borderSizeH5: 0px;
@borderSizeH6: 0px;



a {
    color: #F7F7F7;
    // text-decoration: underline;
    background-color: #3D9970;
}

/* unvisited link */
a:link {
    color: #F7F7F7;
    // text-decoration: underline;
    background-color: #3D9970;
}

/* visited link */
a:visited {
    // color: #aaa;
}

// /* mouse over link */
// a:hover {
//     color: #F7F7F7;
//     text-decoration: underline;
//     background-color: #8EEDD1;
// }

/* selected link */
a:active {
    color: #8EEDD1;
}


code {
    color: #222222;
}


fieldset {
    border-width: 0px;
    text-align: left;
}

fieldset table {
    text-align: left;
}

fieldset legend {
    display: none;
}

.site-logo-text-icon {
    display: none;
}

.site-logo-text a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    // padding-left: 2em;
}

.region-header-col-1 {
    padding: 50px;
}

.region-flash {
    display: none;
}

.region-header-col-2 {
    padding: 50px;
}

// .rm-navbar {
//     display: none;
// }

// .my-navbar {
//     display: none;
// }

.rm-default ul li {
    box-shadow: 0 0 1px rgba(0,0,0,.4);
    background-color: #515151;
}


/* Main and sidebars */

.inner-wrap-main {
    // overflow: auto;
}

/* Standard for main */
.region-main {
    #desinax-vgrid.column(@columns * 2 / 4);
    #desinax-vgrid.push(2);
    margin-bottom: @magicNumber * 1.5;

    &.has-sidebar {
        #desinax-vgrid.push(0);
    }

    &.has-sidebar-right {
        #desinax-vgrid.column(@columns * 3 / 4 - 1);
    }

    &.has-sidebar-left.has-sidebar-right {
        // width: 60%;
        // #desinax-vgrid.column(16);
        #desinax-vgrid.column(@columns - 10);
    }
}

.region-sidebar-left,
.region-sidebar-right {
    #desinax-vgrid.column(@columns * 1 / 4);
    margin-bottom: @magicNumber * 1.5;
}

.region-sidebar-right {
    #desinax-vgrid.push(1);
}

.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
    // width: 20%;
    // #desinax-vgrid.column(4);
    #desinax-vgrid.column(@columns * 1 / 4 - 1);
}








.rm-max .rm-mobile {
    background-color: #F7F7F7;
    color: #222222;
}

.rm-max .rm-mobile .rm-submenu-button {
    background-color: #F7F7F7;
}


body > div > div.outer-wrap.outer-wrap-main > div > div > main > article > figure {
    color: #222222;
    font: 16px/1.5 'Source Sans Pro',sans-serif;
    float: left;
}

.stylechooser p {
    #desinax-vgrid.column(@columns);
}



figure.figure {
    margin-left: 0px;
}

//
// .rm-default,
// .rm-max,
// .rm-mobile {
//     background-color: #F7F7F7;
//     color: #222222;
// }

// Adapt the grid to my style
// @fontFamilyBody:     "serif"; // "sans-serif";
// @fontFamilyHeadings: "serif";
// @fontFamilyBody:     "sans-serif";
// @fontFamilyCode:     "monospace";

// @fontFamilyHeadings:  @fontFamilyHelveticaNeue;
// @fontFamilyBody:      @fontFamilyGaramond;
// @fontFamilyCode:      @fontFamilyMonospace;

// @fontFamilyBody: serif;
// @fontFamilyHeader: serif;

@lineHeight: 1.4;
@mainFontSize: 1rem;
// @mainFontWeight: 400;
// @headerFontWeight: 700;
// @headingsFontWeight: 700;

// Magic number and base fontsize
@magicNumber:  24px;  // 22px
@fontSizeBody: 16px;

// Enable style from the module and optinally add customized layout
figure.figure {
    #desinax-figure.figure();
}

figure.asciinema {
    &:extend(figure.figure);
    #desinax-figure.asciinema();
}

figure.codepen,
figure.figure-codepen {
    &:extend(figure.figure);
    #desinax-figure.codepen();
}

figure.figure {
    @maxContentWidth: 960px;
    #desinax-figure.figure(@maxContentWidth);
}

/* Horizontal scroll fix */
// .inner-wrap-header .row {
// max-width: 100%;
// }

.region-header,
.region-flash,
.inner-wrap-header .row,
.inner-wrap-flash .row {
    margin: 0;
    width: 100%;
}

img {
    border-style: double;
}
