/**
 * Layout using vgrid.
 */

/**
 * Variables
 */


/**
 * General layout
 */
.row {
    #desinax-vgrid.row();

    // background-color: #0f0;
    margin-bottom: 12px;
    // margin-bottom: @magicNumber * 1.5;
}


.inner-wrap {
    #desinax-vgrid.grid(1100px);
    margin-bottom: @magicNumber * 1.5;

    // width: 60%;
    // margin: 0 auto;
    // background-color: #ccc;
}

.outer-wrap {
    // width: 100%;
    // overflow: auto;
    padding-left: @magicNumber;
    padding-right: @magicNumber;
    margin-bottom: @magicNumber * 1.5;
}



// .inner-wrap-header,
// .inner-wrap-footer {
//     #desinax-vgrid.grid(100%);
// }

.vgrid .inner-wrap {
    @gridImage: "../img/grid_24x30x10-nomargin.png";
    //@gridImage: "../../img/grid_12x60x20-nomargin.png";
    #desinax-vgrid.showGrid(@gridImage, 1100px);

    &.inner-wrap-header {
        #desinax-vgrid.showGrid(@gridImage);
    }
}



/* Header */
.inner-wrap-header {
    #desinax-vgrid.grid(100%);
}

.outer-wrap-header {
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
    // overflow: auto;
    // .clearfix();
}

.region-header-col-1,
.region-header-col-3 {
    #desinax-vgrid.column(5);

    // width: 20%;
    // float: left;
    // margin-right: 10px;
}

.region-header-col-2 {
    #desinax-vgrid.column(14);

    // width: 60%;
    // float: left;
    text-align: center;
}

.site-logo {
    display: none;
}

.region-flash {
    #desinax-vgrid.column(@columns);
}

.region-breadcrumb {
    #desinax-vgrid.column(@columns);
}



.next-previous {
    margin-bottom: @magicNumber * 1.5;
}

.next-previous .next,
.next-previous .previous {
    // width: 50%
    #desinax-vgrid.column(@columns * 1 / 4);
}

.next-previous .next {
    float: right;
    text-align: right
}

.breadcrumb-list ul,
.bullet-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.breadcrumb-list li,
.bullet-list li {
    display: inline;
    margin: 0;
    padding: 0
}

.breadcrumb-list li::after,
.bullet-list li::after {
    content: " » "
}

.bullet-list li::after {
    content: " • "
}

.bullet-list li:last-child::after {
    content: ""
}

.no-bullet ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}




/* Main and sidebars */

.inner-wrap-main {
    // overflow: auto;
}

/* Standard for main */
.region-main {
    #desinax-vgrid.column(@columns * 3 / 4);
    #desinax-vgrid.push(2);
    margin-bottom: @magicNumber * 1.5;

    &.has-sidebar {
        #desinax-vgrid.push(0);
    }

    &.has-sidebar-right {
        #desinax-vgrid.column(@columns * 3 / 4 - 1);
    }

    &.has-sidebar-left.has-sidebar-right {
        // width: 60%;
        // #desinax-vgrid.column(16);
        #desinax-vgrid.column(@columns - 10);
    }
}

.region-sidebar-left,
.region-sidebar-right {
    #desinax-vgrid.column(@columns * 1 / 4);
    margin-bottom: @magicNumber * 1.5;
}

.region-sidebar-right {
    #desinax-vgrid.push(1);
}

.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
    // width: 20%;
    // #desinax-vgrid.column(4);
    #desinax-vgrid.column(@columns * 1 / 4 - 1);
}


.my-navbar {
    // padding-top: 10px;
    list-style-type: none;
}




/* Footer */

.outer-wrap-footer {
    background-color: #d9e2ec;
    // background-color: #333;
    // color: #ccc;
    // margin-top: 40px;
}

.inner-wrap-footer {
    // padding: 30px 0;
}

.region-footer>.block {
    // padding-top: 30px;
    // width: 100%;
    // text-align: center;
    // display: inline;
    // float: left;
    // margin-left: .50%;
    // margin-right: .50%
}

.site-footer {
    #desinax-vgrid.column(@columns);
    // color: #fff;
    margin-bottom: @magicNumber * 1.5;
    text-align: center;
    font-size: @magicNumber * 0.5;
}

.site-footer a {
    // color: #fff;
}

// .footer-column-wrapper::after {
//     content: "";
//     display: block;
//     clear: both
// }

.footer-column {
    #desinax-vgrid.column(@columns / 3);
    // display: inline;
}

.footer-column,
.footer-column-x {
    // height: 100%
}
